version: '3.8'

services:
  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=0dreouXLYJof2jYmbQBXiB5QZ567L8gO6wsEIP-Fc3xqYeURbeP4CDeuv_c6bxJ-qd8
      - REDIS_URL=redis://redis:6379/1
      - DJANGO_SETTINGS_MODULE=config.settings
    depends_on:
      - redis

  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"

  celery:
    build: ./backend
    command: celery -A celery_app worker -l info
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - redis
      - web

  celery-beat:
    build: ./backend
    command: celery -A celery_app beat -l info
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - redis
      - celery

  channels:
    build: ./backend
    command: python manage.py runworker channel_layer
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - redis
      - web

  frontend:
    build:
      context: ./frontend/react-app
      dockerfile: Dockerfile
    command: npm run dev -- --host 0.0.0.0
    volumes:
      - ./frontend/react-app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://web:8000
      - VITE_WS_URL=ws://web:8000
    depends_on:
      - web